body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.sidebar {
    width: 200px;
    padding: 10px;
    /*background-color: #f4f4f4; */
    border-left: 1px solid #ccc;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.section {
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow: auto;
}

.section:last-child {
    border-bottom: none;
}

#comment-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Comment editor as a floating window */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: move;
}

.modal-content {
    margin: 0;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
}

#comment-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#save-comment, #delete-comment {
    margin: 5px;
}

/* Define styles for the 'highlight' class */
.line.highlight{
    color: #666;
    background-color: #ccc;
}
